/* Стили для секции достижений */
#achievements-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

#achievements-list::-webkit-scrollbar {
    width: 6px;
}

#achievements-list::-webkit-scrollbar-track {
    background: transparent;
}

#achievements-list::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 3px;
}

#achievements-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.7);
}
